.twistie-separator {
  flex: 1 1 0%;
}

.routeIcon {
  margin-right: 10px;
  font-size: 16pt;
  color: black
}

.menu-item-text {
  font-size: 10pt;
  color: black
}
.text-responsive {
  color: black
}

.menu-twistie {
  font-size: 10pt;
  height: 12px;
  width: 12px;
}
